:root{
    --gray:#55557b;
    --white:#fff;
    --neutral-3: #d9cfd3;
    --purple:#17197e;
    --blue:#17197e;
    --blue-osc:#912222;
    --green:#818a88;
    --blue-dark:#2a73c2;
    --blue-ligth:#e9c213;

}
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html{
    height: 100%;
    width: 500px;
    margin: 0 auto;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--blue-dark);
    background: linear-gradient(to bottom,var(--blue-dark),var(--gray)); 
}
h1{
    /* margin-top: 20px; */
    color: var(--blue );
    text-align: center;
    
}
#userinput{
display: flex;
align-items: center;
}
form{
    margin: 0 auto;
    width: 400px;
    margin: 10px auto;
    text-align: center;
}
form input[type='text']{
    margin: 0 auto;
    background-color: var(--neutral-3);
    border-radius: 5px;
    padding: 0 0 0 5px; 
    color: var(--blue-dark);
    border-style:none ;
    font-size: 1.4em;
    width: 350px;
}
form input[type='text']::placeholder{
    color: var(--blue-dark);
    margin: auto;
}
form input[type='text']:focus{
    outline: none;
}
form input[type='submit']{
    display: flex;
    flex-direction: column;
    font-size: 2em;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: flex-end;
    border-radius: 50%;
    border-style: none;
    color: var(--blue-dark);
    
}
form input[type='submit']:hover{
    background-color: var(--blue-ligth);
    cursor: pointer;
    color: var(--white);
}

.list-container{
    width: 400px;
    margin: 0 auto;
}

.task-container{
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
    border-radius: 5px;
    padding: 6px;
    font-size: 1.1em;
    font-weight: 500;
    color: var(--gray );
}
.task-container:hover{
    background-color: var(--neutral-3);
}
.task-containerM{
    background-color: var(--blue-ligth);
}

.closeBtn{
    width: 20px;
    height: 20px;
}
.closeBtn:hover{
    cursor: pointer;
}
#stats {
    font-size: 1.3em;
    color: var(--white);
    background-color: var(--blue-osc);
    width: 400px;
    text-align: center;
    border-radius: 5px;
    align-items: center;
    margin: 0 auto;
    
/*     padding: 5px; */
}


.navbar1 {
    background-color: white;
    padding: 3px;
    box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.493),
      0px -3px 7px 1px rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:  5px;
    margin-top: 5px;
    color: var(--gray );
  }

  footer{
    display: flex;
    height: 50px;
    width: 500px;
    color: var(--white);
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
footer img{
    height: 50px;
}
  footer h3{
    justify-content: end;
    color: #e9c213;
    margin-left: 50px;
  }
  .sociales{
    color: var(--white);
    height: 50px;
  }